<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online Cinema</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
</head>
<body>

<div id="app">
    <div class="page">
        <div class="page__logo"> Онлайн-кинотеатр “HelloWorld”</div>
        <page-search @eventname="isLoadingHandler"  @eventload="eventLoadHandler" v-bind:films="films" ></page-search>
        <div class="page__films__404" v-if="isLoading">Поиск...</div>

        <div class="page__films" v-if="!isLoading">
            <div class="page__films__404" v-if="sFilms.length===0">Не найдено :(</div>
            <div class="page__films__item" v-for="item in sFilms"  v-on:click="watchFilm(item.id)">
                <div class="page__films__item__poster"
                     v-bind:style="{backgroundImage: 'url(' + baseURL+ item.poster + ')'}"></div>
                <div class="page__films__item__name">{{item?.name}}</div>
                <div class="page__films__item__rating">
                    <div class="page__films__item__rating__icon"></div>
                    <div class="page__films__item__rating__value">{{item?.rating}}</div>
                </div>
                <div class="page__films__item__desc">{{item?.desc}}</div>
                <div class="page__films__item__button">
                    <div class="page__films__item__button__icon"></div>
                    <div class="page__films__item__text"> Смотреть</div>
                </div>
            </div>
        </div>
    </div>
    <div class="app__modal" v-if="currentFilm !== undefined">
        <div class="app__modal__close" v-on:click="watchFilm(undefined)">X</div>
        <div class="app__modal__poster"
             v-bind:style="{backgroundImage: 'url(' + baseURL+ currentFilm.poster + ')'}">
            <div class="app__modal__poster__rating">
                <div class="app__modal__poster__rating__icon"></div>
                <div class="app__modal__poster__rating__value">{{currentFilm?.rating}}</div>
            </div>
        </div>

        <div class="app__modal__title">
            {{currentFilm.name}}
        </div>
        <div class="app__modal__desc">
            {{currentFilm.desc}}
        </div>

    </div>
    <div  v-on:click="watchFilm(undefined)" class="app__bg" v-if="currentFilm !== undefined"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>
