*, *:before, *:after {
    box-sizing: border-box;
}
body{
    background-color: #0F0A29;

}
.page {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 11px 10px;
}

.page__logo {
    background-color: #FF6D64;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    padding: 5px 5px 4px 5px;
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 11px;
}

.page__search {
    position: relative;
    font-size: 12px;
    line-height: 15px;
}
.page__films__404{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}
.page__search__input {
    width: 100%;
    font-size: 10px;
    padding: 8px;
    margin-bottom: 14px;
    font-family: 'Roboto', sans-serif;
}

.page__search__input__icon {
    width: 14px;
    height: 14px;
    background-image: url('icons/search.svg');
    position: absolute;
    right: 8px;
    top: 8px;
    border: 0;

}

.page__films {
    display: grid;
    grid-row-gap: 10px;
}

.page__films__item {
    display: grid;
    grid-template-columns: 1fr 56px 100px;
}

.page__films__item__name {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Lobster', cursive;

}

.page__films__item__rating {
    display: grid;
    grid-template-columns: repeat(2, 20px);
    align-items: center;
}

.page__films__item__rating__value {
    color: #FFB800;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Lobster', cursive;

}

.page__films__item__rating__icon {
    background-image: url('icons/star.svg');
    background-position: -4px 3px;
    height: 100%;
    background-repeat: no-repeat;
}

.page__films__item__button {
    background-color: #FF6D64;
    padding: 4px 7px 4px 6px;
}

.page__films__item__text {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;

}


.page__films__item__button {
    background-color: #FF6D64;
    padding: 4px 7px 4px 6px;
    display: grid;
    grid-template-columns: 21px 1fr;
}

.page__films__item__button__icon {
    width: 16px;
    height: 15px;
    background-image: url('icons/eye.svg');
    background-repeat: no-repeat;
}

.page__films__item__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.page__films__item__poster {
    display: none;
}
.page__films__item__poster:hover{
    cursor: pointer;
}
.page__films__item__desc {
    display: none;
    font-family: 'Roboto', sans-serif;
}

.app__modal{
    display: grid;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 40px 20px;
    margin: 0 10px;
    justify-items: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    z-index: 1;
    max-width: 600px;

    grid-row-gap: 20px;
}
.app__bg{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
    position: fixed;
    top: 0;
}
.app__modal__line{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
}
.app__modal__line__title{
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.app__modal__line__input{
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    resize: none;
    width: 100%;
}
.app__modal__buttons__item, .app__modal__print__button-close{
    font-family: 'Roboto', sans-serif;
    background: #FF6D64;
    padding: 9px;
    width: 100%;
    border: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.app__modal__buttons{
    width: 100%;
    display: grid;
    grid-row-gap: 5px;
}
.app__modal__buttons__item:hover{
    cursor: pointer;
}
.app__modal__close{
    position: absolute;
    top: 15px;
    right: 20px;
}

.app__modal__print{
    display: grid;
    grid-row-gap: 10px;
    width: 100%;
}
.app__modal__print__line{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-row-gap: 10px;
    width: 100%;
}
.app__modal__print__line__title{
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.app__modal__print__line__value{
    font-family: 'Roboto', sans-serif;
    text-align: right;
    word-break: break-all;
}
.app__modal__checkbox{
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    text-align: right;
}
@media (min-width: 800px) {
    .page{
        padding: 0;
    }
    .page__films{
        grid-row-gap: 18px;
    }
    .page__films__item {
        grid-template-columns: 170px auto 1fr;
        grid-template-rows: 45px 1fr 34px;
    }

    .page__films__item__poster {
        display: block;
        width: 150px;
        height: 200px;
        grid-row: 1/4;
    }

    .page__films__item__desc {
        display: block;
        grid-row: 2/3;
        grid-column: 2/4;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;

        text-align: justify;
        padding-bottom: 50px;
    }

    .page__films__item__button {
        grid-column: 3/4;
        width: 160px;
        justify-self: right;
        padding: 7px 0 9px 14px;
        grid-column-gap: 13px;
        align-items: center;
    }

    .page__films__item__rating {
        width: 53px;
        justify-self: right;
        justify-content: flex-end;
        padding-right: 6px;
        grid-template-columns: 27px 20px;

    }

    .page__films__item__rating__icon {
        background-size: 135%;
        background-position: -6px 11px;
    }

    .page__films__item__rating__value {
        font-size: 20px;
        line-height: 25px;
    }
    .page__films__item__name{
        font-size: 20px;
        line-height: 25px;
        align-self: flex-end;
        padding-bottom: 10px;
    }

    .page__films__item--desktop{
        display: none;
    }

    .page__films__item__button__icon {
        width: 24px;
        height: 24px;
        background-size: 100%;
    }
}


@media (min-width: 1024px) {

    .page__logo{
        width: 200px;
        margin: 10px auto 10px auto;
    }
    .page__search{
        width: 800px;
    }
    .page__films{
        grid-template-columns: repeat(4, 180px);
        grid-column-gap: 27px;
        grid-row-gap: 20px;
    }
    .page__films__item__poster{
        width: 180px;
        height: 250px;

    }
    .page__films__item{
        position: relative;
    }
    .page__films__item__rating__icon{
        background-position: -6px 0;

    }
    .page__films__item--desktop{
        display: block;
    }
    .page__films__item__name, .page__films__item__desc, .page__films__item__button{
        display: none;
    }
    .page__search__input{
        margin-bottom: 19px;
    }
    .page__films__item__rating{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .page__search__input__icon{
        right: 11px;
    }
}
